.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: none;
    width: 100%;
    padding: 9px ,23%;
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;   
    min-height: calc(100vh - 72px); 
}